body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
}

.avatar {
    width: 150px;
}



.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #caf0f8;
    color: #14213d;
    border-bottom: 10px solid #f72585;
    border-right: 10px solid #f72585;
    border-radius: 15px;
    box-shadow: 10px 10px #f77f00;
    
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card:hover{
    background-color: #ade8f4;
}
/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
